@import 'neobank-ui-kit/styles';

:root {
    --global-bg-color: #f5f4ff;
}

body {
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #f5f4ff;
}

@media screen and (max-width: 1300px) {
    body {
        padding-inline: 8px;
    }
}

@media screen and (max-width: 920px) {
}

@media screen and (max-width: 500px) {
}
