.footer {
    background-color: var(--footer-bg-color);
    margin-top: 98px;
}

.container {
    padding-block: 92px;
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contactsRight {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.links {
    margin-top: 32px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 12px 32px;
    flex-wrap: wrap;
}

.separator {
    border: 1px solid #ffffffcf;
    margin-top: 28px;
    margin-bottom: 32px;
}

@media screen and (max-width: 1300px) {
    .container {
        padding-inline: 8px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding-block: 48px;
    }
    .contacts {
        flex-direction: column;
        gap: 20px;
    }
}
