.header {
  display: flex;
  align-items: center;
  gap: 120px;
}

.offer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.footer {
  display: flex;
  justify-content: end;
  gap: 80px;
}
