@use '@/app/styles/vars' as *;

.customInput {
  padding: 22px 32px;
  display: flex;
  width: fit-content;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px #363a781a;
  border-radius: 20px;

  @media screen and (max-width: $mobile) {
    width: 80%;
    padding: 11px 16px;
  }
}

.customInput > input {
  border: none;
  font-size: 20px;
  margin-inline: 10px;
  width: 100%;
  flex: 1;
}
