.text {
    text-align: center;
}

.sliderContainer {
    margin-top: 42px;
}

.sliderMainArea {
    display: flex;
    gap: 80px;
    overflow-x: hidden;
    padding-block: 4px;
}

.sliderControls {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: 48px;
}

@media screen and (max-width: 920px) {
    .sliderControls {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
}
